$fuenteTitulos:'Poppins', sans-serif;



.productosTienda 
{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-around;
}
.boxes
{
    width: 33rem;
    height: 30rem;
    display:grid;
    grid-template-areas: "main";
    place-items: center;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;

    img 
    {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;

        transition: transform .4s,filter .4s;
    }
    a
    {
        font-size: 3rem;
        color: #ffffff;
        font-family:Arial, Helvetica, sans-serif;
        opacity: 0;
        transition: transform .4s, opacity .4s;
        text-decoration: none;
        padding: 1rem;}
    p 
    {
        font-size: 1.8rem;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 0;
    }
}
.boxes > *
{
    grid-area: main;
}
.boxes:is(:hover,:focus) > img 
{
    transform: scale(1.1);
    filter: brightness(0.4);
}

.boxes:is(:hover,:focus) > a
{
    transform: scale(1.1);
    opacity: 1;
    
}



.btn_tienda 
{
    margin: 3rem auto;
    width: 80%;
    height: 3rem;
    padding:1rem;
    line-height: 1rem;
    font-size: 2rem;
    background-color: #242425;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}



.btn_tienda:hover 
{
opacity: .8;

}
