.nosotros 
{
    width: 80%;
    height: 40rem;
    padding: 2rem;
    margin: 10rem auto;
    
    h2 
    {
        font-size: 4rem;
        color: #242425;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    p 
    {
        font-size: 1.3rem;
        color: #242425;
        margin-top: 3rem;
        text-align:center;
    }
}